<%- include('partials/header.ejs') %>
<body >
    <%- include('partials/navbar.ejs') %>  

      <h1>Bem vindo(a) Agente</h1>
      <a href='/admin/protocolos/new'><button class="btn btn-success">Registrar uma Ocorrência</button></a>
    
</body>
<%- include('partials/footer.ejs') %>