<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <h2>Registros</h2>
    <a class="btn btn-success m-2" href="/amt/protocolos/register">Registrar Nova Ocorrência</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>

<%- include ('../../partials/footer.ejs') %>